@import url('https://fonts.googleapis.com/css2?family=Radio+Canada:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Denk+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Agbalumo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rowdies&display=swap');

/*Cambios Globales*/
img {
    object-fit: contain;
    width: 100%;
}
body{
    min-width: 1603px;
}

main a{
    text-decoration: none;
}

/*Estilo del logo de la Pagina*/
.colorFooter * {
    color: rgb(255, 255, 255);
}

.logo {
    font-family: 'Denk One', sans-serif;
    padding: 10px 20px;
}

.logo a {
    text-decoration: none;
    color: white;
}

/*Tipos de Leta para la pagina*/
.letraTextoGeneral h1 {
    font-size: 60px;
    text-align: left;
    color: white;
    font-family: 'Agbalumo', serif;
}

.letraTextoGeneral h2 {
    font-family: 'Rowdies', sans-serif;
    color: rgb(255, 60, 60);
    padding-left: 30px;
    font-size: 40px
}

.letraTextoGeneral {
    font-family: 'Ubuntu Condensed', serif;
}

/*Barra de Navegacion*/
.contOpciones {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(27, 27, 26);
    color: white;
    font-family: 'Radio Canada', sans-serif;
}

.contOpciones nav a {
    color: white;
    text-decoration: none;
    padding: 20px;
}

/*Tipo de letra exclusivo del footer*/
.letraFooter * {
    font-family: monospace;
}

/*Footer*/
.contFooter {
    background-color: rgb(27, 27, 26);
    height: 280px;
    text-align: center;
}

.cajaRedes {
    display: grid;
    padding: 30px 0;
    grid-template-columns: 40% auto 40%;
}

.cajaVacia {
    border-bottom: 1px solid;
    margin: 0 30px;
    height: 12px;
    width: auto;
}

.iconosRedes {
    display: flex;
}

.iconosRedes a {
    width: 100%;
    font-size: 22px;
    text-decoration: none;
}

.reglamento {
    display: flex;
    justify-content: center;
}

.barrera {
    border-right: solid 1px;
    padding-right: 10px;
    margin-right: 10px;
}

/*Diseño de estilo de las obras*/
.contenedorGeneros {
    display: flex;
    padding: 50px;
    flex-wrap: wrap;
    margin-left: 8%;
}

.cajaGenero {
    display: flex;
    text-align: justify;
    flex-wrap: wrap;
    width: 300px;
    border: black solid 1px;
    border-radius: 10px;
    padding: 10px;
    background-color: white;
    margin: 20px ;
}
.cajaGenero img{
    object-fit:contain;
    height: 300px;
}

.cajaGenero a {
    text-decoration: none;
    color: black;
}

.border {
    width: 85%;
    border-bottom: 1px solid white;
    margin: auto;
}